{
    "openapi": "3.0.1",
    "info": {
        "title": "standard public schema",
        "description": "",
        "version": "12.0.2"
    },
    "externalDocs": {
        "description": "PostgREST Documentation",
        "url": "https://postgrest.org/en/v12.0/api.html"
    },
    "servers": [
        {
            "url": "https://restapi.benedikt-eickhoff.de/"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Introspection"
                ],
                "summary": "OpenAPI description (this document)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                }
            }
        },
        "/extendednotesresearch": {
            "get": {
                "tags": [
                    "extendednotesresearch"
                ],
                "parameters": [
                    {
                        "name": "research_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "notes",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "research_details",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordering",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range-Unit",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "default": "items"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "count=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/extendednotesresearch"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json;nulls=stripped": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/extendednotesresearch"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/extendednotesresearch"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/extendednotesresearch"
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Partial Content",
                        "content": {}
                    }
                }
            },
            "post": {
                "tags": [
                    "extendednotesresearch"
                ],
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none",
                                "resolution=ignore-duplicates",
                                "resolution=merge-duplicates"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "extendednotesresearch",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/extendednotesresearch"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/extendednotesresearch"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/extendednotesresearch"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/extendednotesresearch"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "extendednotesresearch"
            },
            "delete": {
                "tags": [
                    "extendednotesresearch"
                ],
                "parameters": [
                    {
                        "name": "research_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "notes",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "research_details",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                }
            },
            "patch": {
                "tags": [
                    "extendednotesresearch"
                ],
                "parameters": [
                    {
                        "name": "research_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "notes",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "research_details",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "extendednotesresearch",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/extendednotesresearch"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/extendednotesresearch"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/extendednotesresearch"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/extendednotesresearch"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "extendednotesresearch"
            }
        },
        "/playwright": {
            "get": {
                "tags": [
                    "playwright"
                ],
                "parameters": [
                    {
                        "name": "author_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "biography",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "contact_information",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordering",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range-Unit",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "default": "items"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "count=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/playwright"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json;nulls=stripped": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/playwright"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/playwright"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/playwright"
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Partial Content",
                        "content": {}
                    }
                }
            },
            "post": {
                "tags": [
                    "playwright"
                ],
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none",
                                "resolution=ignore-duplicates",
                                "resolution=merge-duplicates"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "playwright",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/playwright"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/playwright"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/playwright"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/playwright"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "playwright"
            },
            "delete": {
                "tags": [
                    "playwright"
                ],
                "parameters": [
                    {
                        "name": "author_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "biography",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "contact_information",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                }
            },
            "patch": {
                "tags": [
                    "playwright"
                ],
                "parameters": [
                    {
                        "name": "author_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "biography",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "contact_information",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "playwright",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/playwright"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/playwright"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/playwright"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/playwright"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "playwright"
            }
        },
        "/transition": {
            "get": {
                "tags": [
                    "transition"
                ],
                "parameters": [
                    {
                        "name": "transition_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "scene_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "transition_text",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordering",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range-Unit",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "default": "items"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "count=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/transition"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json;nulls=stripped": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/transition"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/transition"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/transition"
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Partial Content",
                        "content": {}
                    }
                }
            },
            "post": {
                "tags": [
                    "transition"
                ],
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none",
                                "resolution=ignore-duplicates",
                                "resolution=merge-duplicates"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "transition",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/transition"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/transition"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/transition"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/transition"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "transition"
            },
            "delete": {
                "tags": [
                    "transition"
                ],
                "parameters": [
                    {
                        "name": "transition_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "scene_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "transition_text",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                }
            },
            "patch": {
                "tags": [
                    "transition"
                ],
                "parameters": [
                    {
                        "name": "transition_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "scene_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "transition_text",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "transition",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/transition"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/transition"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/transition"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/transition"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "transition"
            }
        },
        "/musicsound": {
            "get": {
                "tags": [
                    "musicsound"
                ],
                "parameters": [
                    {
                        "name": "music_sound_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "scene_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "cue",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordering",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range-Unit",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "default": "items"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "count=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/musicsound"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json;nulls=stripped": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/musicsound"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/musicsound"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/musicsound"
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Partial Content",
                        "content": {}
                    }
                }
            },
            "post": {
                "tags": [
                    "musicsound"
                ],
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none",
                                "resolution=ignore-duplicates",
                                "resolution=merge-duplicates"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "musicsound",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/musicsound"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/musicsound"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/musicsound"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/musicsound"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "musicsound"
            },
            "delete": {
                "tags": [
                    "musicsound"
                ],
                "parameters": [
                    {
                        "name": "music_sound_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "scene_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "cue",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                }
            },
            "patch": {
                "tags": [
                    "musicsound"
                ],
                "parameters": [
                    {
                        "name": "music_sound_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "scene_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "cue",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "musicsound",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/musicsound"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/musicsound"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/musicsound"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/musicsound"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "musicsound"
            }
        },
        "/pagebreak": {
            "get": {
                "tags": [
                    "pagebreak"
                ],
                "parameters": [
                    {
                        "name": "page_break_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordering",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range-Unit",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "default": "items"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "count=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/pagebreak"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json;nulls=stripped": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/pagebreak"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/pagebreak"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/pagebreak"
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Partial Content",
                        "content": {}
                    }
                }
            },
            "post": {
                "tags": [
                    "pagebreak"
                ],
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none",
                                "resolution=ignore-duplicates",
                                "resolution=merge-duplicates"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "pagebreak",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/pagebreak"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/pagebreak"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/pagebreak"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/pagebreak"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "pagebreak"
            },
            "delete": {
                "tags": [
                    "pagebreak"
                ],
                "parameters": [
                    {
                        "name": "page_break_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                }
            },
            "patch": {
                "tags": [
                    "pagebreak"
                ],
                "parameters": [
                    {
                        "name": "page_break_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "pagebreak",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/pagebreak"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/pagebreak"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/pagebreak"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/pagebreak"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "pagebreak"
            }
        },
        "/centeredtext": {
            "get": {
                "tags": [
                    "centeredtext"
                ],
                "parameters": [
                    {
                        "name": "centered_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordering",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range-Unit",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "default": "items"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "count=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/centeredtext"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json;nulls=stripped": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/centeredtext"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/centeredtext"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/centeredtext"
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Partial Content",
                        "content": {}
                    }
                }
            },
            "post": {
                "tags": [
                    "centeredtext"
                ],
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none",
                                "resolution=ignore-duplicates",
                                "resolution=merge-duplicates"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "centeredtext",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/centeredtext"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/centeredtext"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/centeredtext"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/centeredtext"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "centeredtext"
            },
            "delete": {
                "tags": [
                    "centeredtext"
                ],
                "parameters": [
                    {
                        "name": "centered_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                }
            },
            "patch": {
                "tags": [
                    "centeredtext"
                ],
                "parameters": [
                    {
                        "name": "centered_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "script_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "return=representation",
                                "return=minimal",
                                "return=none"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "centeredtext",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/centeredtext"
                            }
                        },
                        "application/vnd.pgrst.object+json;nulls=stripped": {
                            "schema": {
                                "$ref": "#/components/schemas/centeredtext"
                            }
                        },
                        "application/vnd.pgrst.object+json": {
                            "schema": {
                                "$ref": "#/components/schemas/centeredtext"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/centeredtext"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "centeredtext"
            }
        },
        "/characterrelationship": {
            "get": {
                "tags": [
                    "characterrelationship"
                ],
                "parameters": [
                    {
                        "name": "relationship_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "character1_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "character2_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "integer"
                        }
                    },
                    {
                        "name": "relationship_type",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Filtering Columns",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordering",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range-Unit",
                        "in": "header",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "default": "items"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limiting and Pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Preference",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "count=none"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/characterrelationship"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json;nulls=stripped": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/characterrelationship"
                                    }
                                }
                            },
                            "application/vnd.pgrst.object+json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/characterrelationship"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/characterrelationship"
                                    }
                                }
                            }
[...]
