openapi: 3.0.1
info:
  title: standard public schema
  description: ""
  version: 12.0.2
externalDocs:
  description: PostgREST Documentation
  url: https://postgrest.org/en/v12.0/api.html
servers:
- url: https://restapi.benedikt-eickhoff.de/
paths:
  /:
    get:
      tags:
      - Introspection
      summary: OpenAPI description (this document)
      operationId: root_get
      responses:
        "200":
          description: OK
          content: {}
      x-openapi-router-controller: swagger_server.controllers.introspection_controller
  /extendednotesresearch:
    get:
      tags:
      - extendednotesresearch
      operationId: extendednotesresearch_get
      parameters:
      - name: research_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: notes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: research_details
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/extendednotesresearch'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/extendednotesresearch'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/extendednotesresearch'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/extendednotesresearch'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.extendednotesresearch_controller
    post:
      tags:
      - extendednotesresearch
      operationId: extendednotesresearch_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: extendednotesresearch
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extendednotesresearch'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/extendednotesresearch'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/extendednotesresearch'
          text/csv:
            schema:
              $ref: '#/components/schemas/extendednotesresearch'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: extendednotesresearch
      x-openapi-router-controller: swagger_server.controllers.extendednotesresearch_controller
    delete:
      tags:
      - extendednotesresearch
      operationId: extendednotesresearch_delete
      parameters:
      - name: research_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: notes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: research_details
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.extendednotesresearch_controller
    patch:
      tags:
      - extendednotesresearch
      operationId: extendednotesresearch_patch
      parameters:
      - name: research_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: notes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: research_details
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: extendednotesresearch
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extendednotesresearch'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/extendednotesresearch'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/extendednotesresearch'
          text/csv:
            schema:
              $ref: '#/components/schemas/extendednotesresearch'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: extendednotesresearch
      x-openapi-router-controller: swagger_server.controllers.extendednotesresearch_controller
  /playwright:
    get:
      tags:
      - playwright
      operationId: playwright_get
      parameters:
      - name: author_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: biography
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: contact_information
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/playwright'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/playwright'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/playwright'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/playwright'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.playwright_controller
    post:
      tags:
      - playwright
      operationId: playwright_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: playwright
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/playwright'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/playwright'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/playwright'
          text/csv:
            schema:
              $ref: '#/components/schemas/playwright'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: playwright
      x-openapi-router-controller: swagger_server.controllers.playwright_controller
    delete:
      tags:
      - playwright
      operationId: playwright_delete
      parameters:
      - name: author_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: biography
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: contact_information
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.playwright_controller
    patch:
      tags:
      - playwright
      operationId: playwright_patch
      parameters:
      - name: author_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: biography
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: contact_information
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: playwright
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/playwright'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/playwright'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/playwright'
          text/csv:
            schema:
              $ref: '#/components/schemas/playwright'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: playwright
      x-openapi-router-controller: swagger_server.controllers.playwright_controller
  /transition:
    get:
      tags:
      - transition
      operationId: transition_get
      parameters:
      - name: transition_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: transition_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transition'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transition'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transition'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transition'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.transition_controller
    post:
      tags:
      - transition
      operationId: transition_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: transition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transition'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/transition'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/transition'
          text/csv:
            schema:
              $ref: '#/components/schemas/transition'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: transition
      x-openapi-router-controller: swagger_server.controllers.transition_controller
    delete:
      tags:
      - transition
      operationId: transition_delete
      parameters:
      - name: transition_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: transition_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.transition_controller
    patch:
      tags:
      - transition
      operationId: transition_patch
      parameters:
      - name: transition_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: transition_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: transition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transition'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/transition'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/transition'
          text/csv:
            schema:
              $ref: '#/components/schemas/transition'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: transition
      x-openapi-router-controller: swagger_server.controllers.transition_controller
  /musicsound:
    get:
      tags:
      - musicsound
      operationId: musicsound_get
      parameters:
      - name: music_sound_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: cue
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/musicsound'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/musicsound'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/musicsound'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/musicsound'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.musicsound_controller
    post:
      tags:
      - musicsound
      operationId: musicsound_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: musicsound
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/musicsound'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/musicsound'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/musicsound'
          text/csv:
            schema:
              $ref: '#/components/schemas/musicsound'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: musicsound
      x-openapi-router-controller: swagger_server.controllers.musicsound_controller
    delete:
      tags:
      - musicsound
      operationId: musicsound_delete
      parameters:
      - name: music_sound_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: cue
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.musicsound_controller
    patch:
      tags:
      - musicsound
      operationId: musicsound_patch
      parameters:
      - name: music_sound_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: cue
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: musicsound
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/musicsound'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/musicsound'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/musicsound'
          text/csv:
            schema:
              $ref: '#/components/schemas/musicsound'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: musicsound
      x-openapi-router-controller: swagger_server.controllers.musicsound_controller
  /pagebreak:
    get:
      tags:
      - pagebreak
      operationId: pagebreak_get
      parameters:
      - name: page_break_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: page_number
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pagebreak'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pagebreak'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pagebreak'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pagebreak'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.pagebreak_controller
    post:
      tags:
      - pagebreak
      operationId: pagebreak_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: pagebreak
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pagebreak'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/pagebreak'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/pagebreak'
          text/csv:
            schema:
              $ref: '#/components/schemas/pagebreak'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: pagebreak
      x-openapi-router-controller: swagger_server.controllers.pagebreak_controller
    delete:
      tags:
      - pagebreak
      operationId: pagebreak_delete
      parameters:
      - name: page_break_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: page_number
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.pagebreak_controller
    patch:
      tags:
      - pagebreak
      operationId: pagebreak_patch
      parameters:
      - name: page_break_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: page_number
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: pagebreak
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pagebreak'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/pagebreak'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/pagebreak'
          text/csv:
            schema:
              $ref: '#/components/schemas/pagebreak'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: pagebreak
      x-openapi-router-controller: swagger_server.controllers.pagebreak_controller
  /centeredtext:
    get:
      tags:
      - centeredtext
      operationId: centeredtext_get
      parameters:
      - name: centered_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/centeredtext'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/centeredtext'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/centeredtext'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/centeredtext'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.centeredtext_controller
    post:
      tags:
      - centeredtext
      operationId: centeredtext_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: centeredtext
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/centeredtext'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/centeredtext'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/centeredtext'
          text/csv:
            schema:
              $ref: '#/components/schemas/centeredtext'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: centeredtext
      x-openapi-router-controller: swagger_server.controllers.centeredtext_controller
    delete:
      tags:
      - centeredtext
      operationId: centeredtext_delete
      parameters:
      - name: centered_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.centeredtext_controller
    patch:
      tags:
      - centeredtext
      operationId: centeredtext_patch
      parameters:
      - name: centered_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: centeredtext
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/centeredtext'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/centeredtext'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/centeredtext'
          text/csv:
            schema:
              $ref: '#/components/schemas/centeredtext'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: centeredtext
      x-openapi-router-controller: swagger_server.controllers.centeredtext_controller
  /characterrelationship:
    get:
      tags:
      - characterrelationship
      operationId: characterrelationship_get
      parameters:
      - name: relationship_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character1_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character2_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: relationship_type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/characterrelationship'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/characterrelationship'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/characterrelationship'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/characterrelationship'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.characterrelationship_controller
    post:
      tags:
      - characterrelationship
      operationId: characterrelationship_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: characterrelationship
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/characterrelationship'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/characterrelationship'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/characterrelationship'
          text/csv:
            schema:
              $ref: '#/components/schemas/characterrelationship'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: characterrelationship
      x-openapi-router-controller: swagger_server.controllers.characterrelationship_controller
    delete:
      tags:
      - characterrelationship
      operationId: characterrelationship_delete
      parameters:
      - name: relationship_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character1_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character2_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: relationship_type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.characterrelationship_controller
    patch:
      tags:
      - characterrelationship
      operationId: characterrelationship_patch
      parameters:
      - name: relationship_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character1_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character2_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: relationship_type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: characterrelationship
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/characterrelationship'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/characterrelationship'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/characterrelationship'
          text/csv:
            schema:
              $ref: '#/components/schemas/characterrelationship'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: characterrelationship
      x-openapi-router-controller: swagger_server.controllers.characterrelationship_controller
  /crossreferences:
    get:
      tags:
      - crossreferences
      operationId: crossreferences_get
      parameters:
      - name: cross_reference_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: referenced_scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/crossreferences'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/crossreferences'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/crossreferences'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/crossreferences'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.crossreferences_controller
    post:
      tags:
      - crossreferences
      operationId: crossreferences_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: crossreferences
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/crossreferences'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/crossreferences'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/crossreferences'
          text/csv:
            schema:
              $ref: '#/components/schemas/crossreferences'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: crossreferences
      x-openapi-router-controller: swagger_server.controllers.crossreferences_controller
    delete:
      tags:
      - crossreferences
      operationId: crossreferences_delete
      parameters:
      - name: cross_reference_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: referenced_scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.crossreferences_controller
    patch:
      tags:
      - crossreferences
      operationId: crossreferences_patch
      parameters:
      - name: cross_reference_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: referenced_scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: crossreferences
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/crossreferences'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/crossreferences'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/crossreferences'
          text/csv:
            schema:
              $ref: '#/components/schemas/crossreferences'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: crossreferences
      x-openapi-router-controller: swagger_server.controllers.crossreferences_controller
  /casting:
    get:
      tags:
      - casting
      operationId: casting_get
      parameters:
      - name: casting_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: actor_characteristics_choices
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/casting'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/casting'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/casting'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/casting'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.casting_controller
    post:
      tags:
      - casting
      operationId: casting_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: casting
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/casting'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/casting'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/casting'
          text/csv:
            schema:
              $ref: '#/components/schemas/casting'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: casting
      x-openapi-router-controller: swagger_server.controllers.casting_controller
    delete:
      tags:
      - casting
      operationId: casting_delete
      parameters:
      - name: casting_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: actor_characteristics_choices
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.casting_controller
    patch:
      tags:
      - casting
      operationId: casting_patch
      parameters:
      - name: casting_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: actor_characteristics_choices
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: casting
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/casting'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/casting'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/casting'
          text/csv:
            schema:
              $ref: '#/components/schemas/casting'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: casting
      x-openapi-router-controller: swagger_server.controllers.casting_controller
  /note:
    get:
      tags:
      - note
      operationId: note_get
      parameters:
      - name: note_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/note'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/note'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/note'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/note'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.note_controller
    post:
      tags:
      - note
      operationId: note_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: note
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/note'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/note'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/note'
          text/csv:
            schema:
              $ref: '#/components/schemas/note'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: note
      x-openapi-router-controller: swagger_server.controllers.note_controller
    delete:
      tags:
      - note
      operationId: note_delete
      parameters:
      - name: note_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.note_controller
    patch:
      tags:
      - note
      operationId: note_patch
      parameters:
      - name: note_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: note
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/note'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/note'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/note'
          text/csv:
            schema:
              $ref: '#/components/schemas/note'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: note
      x-openapi-router-controller: swagger_server.controllers.note_controller
  /action:
    get:
      tags:
      - action
      operationId: action_get
      parameters:
      - name: action_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: original_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: modernized_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/action'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/action'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/action'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/action'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.action_controller
    post:
      tags:
      - action
      operationId: action_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/action'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/action'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/action'
          text/csv:
            schema:
              $ref: '#/components/schemas/action'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: action
      x-openapi-router-controller: swagger_server.controllers.action_controller
    delete:
      tags:
      - action
      operationId: action_delete
      parameters:
      - name: action_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: original_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: modernized_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.action_controller
    patch:
      tags:
      - action
      operationId: action_patch
      parameters:
      - name: action_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: original_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: modernized_text
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/action'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/action'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/action'
          text/csv:
            schema:
              $ref: '#/components/schemas/action'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: action
      x-openapi-router-controller: swagger_server.controllers.action_controller
  /formattingrules:
    get:
      tags:
      - formattingrules
      operationId: formattingrules_get
      parameters:
      - name: rule_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: rule_description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/formattingrules'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/formattingrules'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/formattingrules'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/formattingrules'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.formattingrules_controller
    post:
      tags:
      - formattingrules
      operationId: formattingrules_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: formattingrules
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/formattingrules'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/formattingrules'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/formattingrules'
          text/csv:
            schema:
              $ref: '#/components/schemas/formattingrules'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: formattingrules
      x-openapi-router-controller: swagger_server.controllers.formattingrules_controller
    delete:
      tags:
      - formattingrules
      operationId: formattingrules_delete
      parameters:
      - name: rule_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: rule_description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.formattingrules_controller
    patch:
      tags:
      - formattingrules
      operationId: formattingrules_patch
      parameters:
      - name: rule_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: rule_description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: formattingrules
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/formattingrules'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/formattingrules'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/formattingrules'
          text/csv:
            schema:
              $ref: '#/components/schemas/formattingrules'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: formattingrules
      x-openapi-router-controller: swagger_server.controllers.formattingrules_controller
  /character:
    get:
      tags:
      - character
      operationId: character_get
      parameters:
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - count=none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/character'
                x-content-type: application/json
            application/vnd.pgrst.object+json;nulls=stripped:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/character'
            application/vnd.pgrst.object+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/character'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/character'
        "206":
          description: Partial Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.character_controller
    post:
      tags:
      - character
      operationId: character_post
      parameters:
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
          - resolution=ignore-duplicates
          - resolution=merge-duplicates
      requestBody:
        description: character
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/character'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/character'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/character'
          text/csv:
            schema:
              $ref: '#/components/schemas/character'
        required: false
      responses:
        "201":
          description: Created
          content: {}
      x-codegen-request-body-name: character
      x-openapi-router-controller: swagger_server.controllers.character_controller
    delete:
      tags:
      - character
      operationId: character_delete
      parameters:
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      responses:
        "204":
          description: No Content
          content: {}
      x-openapi-router-controller: swagger_server.controllers.character_controller
    patch:
      tags:
      - character
      operationId: character_patch
      parameters:
      - name: character_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: script_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: description
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: Prefer
        in: header
        description: Preference
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - return=representation
          - return=minimal
          - return=none
      requestBody:
        description: character
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/character'
          application/vnd.pgrst.object+json;nulls=stripped:
            schema:
              $ref: '#/components/schemas/character'
          application/vnd.pgrst.object+json:
            schema:
              $ref: '#/components/schemas/character'
          text/csv:
            schema:
              $ref: '#/components/schemas/character'
        required: false
      responses:
        "204":
          description: No Content
          content: {}
      x-codegen-request-body-name: character
      x-openapi-router-controller: swagger_server.controllers.character_controller
  /scene:
    get:
      tags:
      - scene
      operationId: scene_get
      parameters:
      - name: scene_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: act_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: scene_number
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: integer
      - name: synopsis
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: notes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: text
      - name: select
        in: query
        description: Filtering Columns
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Ordering
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Range
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Range_Unit
        in: header
        description: Limiting and Pagination
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: items
      - name: offset
        in: query
        description: Limiting and Pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limiting and Pagination
        required: false
        style: form
[...]
